@font-face {
    font-family: Meri;
    src: url('../fonts/Merriweather/Merriweather-Regular.ttf');
}

body{
    background-color: #FBF8DD;
}

#nav {
    padding-top: 1vw ;
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    width: 100%; /* Takes the full width of its container */
    margin-right: 10px; /* Space between the title and the button */
}

#title {
    font-size: 5vw;
    font-family: Meri;
    display: inline-flex; /* Use inline-flex to keep title and button in one line */
    align-items: center; /* Aligns the text and button vertically */
    text-shadow: 
    -3px -3px 0 #fff,  
     3px -3px 0 #fff,
    -3px  3px 0 #fff,
     3px  3px 0 #fff; /* White outline */
}

#playButton {
    width: 5%; /* Adjust if necessary */
    margin-left: 10vw;
    cursor: pointer;
    padding: 5px 10px;
    display: block; /* Ensures the button is a block-level element within the flex container */
}


.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease; /* Smooth transition for sliding */

}

.carousel-item {
    flex: 0 0 100%; /* Each item should not grow or shrink but be 100% of the carousel's width */

}

.carousel-item img {
    width: 75%; /* Image should fill the item */
    height: auto; /* Maintain aspect ratio */
    margin: auto;
    display: block; /* Remove extra space below the image */
    border: 3.5px solid black;
    border-radius: 20px; /* Rounded corners */
}

/* Navigation buttons */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000; /* High z-index to ensure they're above other elements */
}

.carousel-btn.left {
    left: 10px;
}

.carousel-btn.right {
    right: 10px;
}